body {
    margin: 0;
    background-color: black;
    touch-action: pan-y;
    touch-action: pan-x;
}

.score {
    position: absolute;
    color: yellow;
    padding: 20px;
    font-weight: 500;
    font-size: 60px;
    user-select: none;
}

#modalEl {
    display: none;
    position: absolute;
    background-image: linear-gradient(rgb(53, 53, 53), rgb(0, 11, 109));
    max-width: 800px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

#startModalEl {
    padding: 20px;
    position: absolute;
    background-image: linear-gradient(rgb(53, 53, 53), rgb(0, 11, 109));
    max-width: 800px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 130px;
    margin-bottom: -30px;
    margin-top: 70px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 0);
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 70px;
    font-weight: 700;
}

h3.title {

    color: yellow;
    font-size: 100px;
    margin-bottom: -30px;
    margin-top: 70px;
}

p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 700;
}

button {
    padding: 12px 80px;
    border-radius: 50px;
    background-image: linear-gradient(rgb(50, 100, 102), black);
    color: yellow;
    font-weight: 700;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    user-select: none;
    cursor: pointer;
}